<!-- Block -->
<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas,
      tenetur animi fugiat ex repellat quisquam rerum quidem asperiores itaque
      quo iusto? Accusamus dolorem aliquid perspiciatis similique consequuntur
      atque odio doloribus corporis! Nihil sit, magni, quaerat laboriosam qui
      eaque quam tenetur ducimus minima nesciunt repellendus iure molestias hic
      at quae consectetur.
    </p>
  </header>
</section>

<!-- Dark and Left Skewed Block -->
<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas,
        tenetur animi fugiat ex repellat quisquam rerum quidem asperiores itaque
        quo iusto? Accusamus dolorem aliquid perspiciatis similique consequuntur
        atque odio doloribus corporis! Nihil sit, magni, quaerat laboriosam qui
        eaque quam tenetur ducimus minima nesciunt repellendus iure molestias
        hic at quae consectetur.
      </p>
    </header>
  </div>
</section>
