<section class="container block block-domain">
  <header class="block__header">
    <h1 class="block__heading">The best webhosting Starting at per month</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non similique
      enim voluptas quae ab consequuntur quaerat autem voluptatibus molestias
      quisquam.
    </p>
  </header>
  <div class="input-group">
    <input class="input" type="text" placeholder="Enter your domain here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use></svg
      >Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.com $9.26</span></li>
    <li>.sg $7.91</li>
    <li>.space $12.98</li>
    <li>.info $14.15</li>
    <li>.net $16.15</li>
    <li>.xyz $10.15</li>
  </ul>
</section>
