<div class="card card--secondary">
  <header class="card__header">Heading</header>
  <div class="card__body">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, sequi!
    Debitis omnis culpa cum quos, reiciendis at est cupiditate error, modi vero
    aliquid officia doloremque quas repudiandae a consequuntur voluptatibus sunt
    unde molestiae aperiam alias odio. Ratione sit sed quam sapiente voluptatum
    alias, consequuntur dolore maxime pariatur dolor nostrum reiciendis!
  </div>
</div>
